<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>GMA | Admin login</title>

    <link rel="stylesheet" type="text/css" media="all"
          href="css/style.css" th:href="@{/css/style.css}"/>
</head>
<body>
<h1>Gamified Marketing Application</h1>
<h2>Admin Login</h2>

    <form action="CheckLogin" method="POST">
        <fieldset>
            <legend>Login</legend>

            <div>
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required>
            </div>

            <div>
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
            </div>

            <input type="submit" value="Login">
        </fieldset>
    </form>

    <p th:text=" ${errorMessage}"></p>
</body>
</html>