<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>GMA | Create questionnaire</title>

    <link rel="stylesheet" type="text/css" media="all"
          href="../css/style.css" th:href="@{/css/style.css}"/>
</head>
<body>
    <h1>Gamified Marketing Application</h1>
    <h2>Create questionnaire</h2>

    <form action="CreateQuestionnaire" method="POST">
        <fieldset>
            <legend>Questionnaire</legend>

            <div>
                <label for="product">Product:</label>
                <select id="product" name="product" required>
                    <option value="">Select a product</option>
                    <option th:each="p : ${products}"
                            th:value="${p.getId()}"
                            th:text="${p.getName()}">val</option>
                </select>
            </div>

            <div>
                <label for="date">Publish date:</label>
                <input type="date" id="date" name="date"
                       th:min="${#dates.format(date, 'yyyy-MM-dd')}"
                       th:value="${#dates.format(date, 'yyyy-MM-dd')}"
                       required>
            </div>

            <div id="marketing_questions">
                <div>
                    <label for="question_1">Question 1:</label>
                    <input type="text" id="question_1" name="question_1" required>
                </div>
            </div>

            <div>
                <i>Add/remove question:</i>
                <button type="button" onclick="addQuestion()">&plus;</button>
                <button type="button" onclick="removeQuestion()">&minus;</button>
            </div>

            <a th:href="@{/Home}"><button type="button">Cancel</button></a>
            <input type="submit" value="Create">
        </fieldset>
    </form>
    <script>
        let questionsCount = 1;
        function addQuestion() {
            questionsCount++;
            let container = document.getElementById("marketing_questions");

            let div = document.createElement("div");

            let label = document.createElement("label");
            label.htmlFor = "question_" + questionsCount;
            label.innerText = "Question " + questionsCount + ":";

            let input = document.createElement("input");
            input.type = "text";
            input.id = "question_" + questionsCount;
            input.name = "question_" + questionsCount;
            input.required = true;

            div.appendChild(label);
            div.appendChild(input);
            container.appendChild(div);
        }
        function removeQuestion() {
            if (questionsCount <= 1) {
                return;
            }
            questionsCount--;

            let container = document.getElementById("marketing_questions");

            container.removeChild(container.lastChild);
        }
    </script>
</body>
</html>