<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>GMA | Delete questionnaire</title>

    <link rel="stylesheet" type="text/css" media="all"
          href="../css/style.css" th:href="@{/css/style.css}"/>
</head>
<body>
    <h1>Gamified Marketing Application</h1>
    <h2>Delete questionnaire</h2>

    <form action="DeleteQuestionnaire" method="POST">
        <fieldset>
            <legend>Questionnaire</legend>

            <div>
                <label for="questionnaire">Select the questionnaire:</label>
                <select name="questionnaire" id="questionnaire" required>
                    <option value="">Select a questionnaire</option>
                    <option th:each="q : ${questionnaires}"
                            th:value="${q.getId()}"
                            th:text="${#strings.concat(q.getProduct().getName(),' (',#dates.format(q.getDate(),'yyyy-MM-dd'),')')}">val</option>
                </select>
            </div>

            <a th:href="@{/Home}"><button type="button">Cancel</button></a>
            <input type="submit" value="Delete">
        </fieldset>
    </form>
</body>
</html>