<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>GMA | Admin</title>

    <link rel="stylesheet" type="text/css" media="all"
          href="../css/style.css" th:href="@{/css/style.css}"/>
</head>
<body>
    <div class="right">
        <a th:href="@{/Logout}">Logout</a>
    </div>

    <h1>Gamified Marketing Application</h1>
    <h2>Admin</h2>

    <a th:href="@{/CreateProduct}">Create product</a>
    <br><br>
    <a th:href="@{/CreateQuestionnaire}">Create questionnaire</a>
    <br><br>
    <a th:href="@{/InspectQuestionnaire}">Inspect questionnaire</a>
    <br><br>
    <a th:href="@{/DeleteQuestionnaire}">Delete questionnaire</a>
    <br><br>
    <hr>

    <h3 th:if="${questionnaire == null}">No questionnaire of the day</h3>
    <div th:if="${not (questionnaire == null)}">
        <h3>Questionnaire of the day</h3>

        <h4 th:text="${'Product: ' + questionnaire.getProduct().getName()}">Product</h4>

        <h4>Marketing questions</h4>
        <ul>
            <li th:each="q : ${questionnaire.getQuestions()}" th:text="${q.getQuestion()}">Marketing question</li>
        </ul>

        <h4>Statistical questions</h4>
        <ul>
            <li th:each="q : ${statistical}" th:text="${q.getQuestion()}">Statistical question</li>
        </ul>
    </div>
</body>
</html>