<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>GMA | Inspect questionnaire</title>

    <link rel="stylesheet" type="text/css" media="all"
          href="../css/style.css" th:href="@{/css/style.css}"/>
</head>
<body>
    <div class="right">
        <a th:href="@{/Home}">Go to home</a>
        <a th:href="@{/Logout}">Logout</a>
    </div>

    <h1>Gamified Marketing Application</h1>
    <h2>Inspect questionnaire</h2>

    <form action="InspectQuestionnaire" method="GET">
        <fieldset>
            <legend>Questionnaire</legend>

            <div>
                <label for="questionnaire">Select the questionnaire:</label>
                <select name="questionnaire" id="questionnaire" required>
                    <option value="">Select a questionnaire</option>
                    <option th:each="q : ${questionnaires}"
                            th:value="${q.getId()}"
                            th:text="${#strings.concat(q.getProduct().getName(),' (',#dates.format(q.getDate(),'yyyy-MM-dd'),')')}">val</option>
                </select>
            </div>

            <input type="submit" value="Inspect">
        </fieldset>
    </form>

    <div th:if="${not (questionnaire == null)}">
        <h3 th:text="${questionnaire.getProduct().getName()}">product name</h3>
        <div th:text="${'Publish date: ' + #dates.format(questionnaire.getDate(), 'yyyy-MM-dd')}">publish date</div>

        <h4>Users that submitted the questionnaire</h4>
        <ul>
            <li th:each="u : ${usersSubmitted}"
                th:text="${u.getUsername()}">username</li>
        </ul>

        <h4>Users that cancelled the questionnaire</h4>
        <ul>
            <li th:each="c : ${questionnaire.getCancellations()}"
                th:text="${#strings.concat(c.getUser().getUsername(),' (date: ',#dates.format(c.getDate(), 'yyyy-MM-dd HH:mm'),')')}">username (date: 2021-01-01 00:00</li>
        </ul>

        <h4>Questionnaire answers</h4>
        <table>
            <thead>
                <th>User</th>
                <th>Question</th>
                <th>Answer</th>
            </thead>
            <tbody>
                <tr th:each="ans : ${questionnaire.getAnswers()}">
                    <td th:text="${ans.getUser().getUsername()}">user</td>
                    <td th:text="${ans.getQuestion().getQuestion()}">question</td>
                    <td th:text="${ans.getAnswer()}">answer</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>